<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="edit.EducacionIT23082022.AppTest"/>
      <class name="edit.EducacionIT23082022.laboratorio2"/>
      <class name="edit.EducacionIT23082022.Laboratorio3"/>
      <class name="edit.EducacionIT23082022.Laboratorio4"/>
      <class name="edit.EducacionIT23082022.Laboratorio5"/>
      
      <!--><methods> esto es para poder separar que metodo voy a testear 
      <include name="buscarPalabra"></include>	
      <exclude name=""></exclude>
      </methods><-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
